WineRecommender_API/WineAPI/__pycache__
WineRecommender_API/__pycache__
WineRecommender_API/WineAPI/migrations/__pycache__
WineRecommender_API/WineRecommender_API/__pycache__
WineRecommender_API/.idea
vivino scraper/export
.gitignore
vivino scraper/productDetailLinks
vivino scraper/temp
vivino scraper/dependencies/chromedriver
vivino scraper/src/__pycache__
ui/node_modules
ui/src/App.js
ui/package-lock.json
Scraping/.idea
Scraping/__pycache__
vivino scraper/_export
