vivino scraper/export
.gitignore
vivino scraper/productDetailLinks
vivino scraper/temp
vivino scraper/dependencies/chromedriver
vivino scraper/src/__pycache__
ui/node_modules
ui/src/App.js
ui/package-lock.json
